@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:wght@400;600 & family= Outfit & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter & family= Krona+One & family= Montserrat:wght@400;600 & family= Outfit & display=swap');
@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@300&display=swap');

:root {
    --fonte-inter: 'Inter', sans-serif; 
    --font-outfit: 'Outfit', sans-serif;
}

main {
    background-image: url(../Imagens/fundo-dados.png);
    display:  flex;
    align-items: center;
    justify-content: end;
    gap: 1%;
    padding: 50px;
    padding-right: 200px;
    font-family: var(--font-outfit);
    background-attachment: fixed;
}

.form {
    background-color: #fff;
    padding: 20px;
    border-radius: 10px;
    padding-top: 30px;
    width: 300px;
    display: flex;
    flex-direction: column;
    gap: 20px;
}

#especificacoes {
    position: absolute;
    margin-left: -10px;
    margin-top: -25px;
    font-size: .8rem;
    color: #0084F9;
}

h1 {
    font-size: 1.7rem;
}

p {
    font-size: .8rem;
}

.direitos {
    font-size: .5em;
}

.dados {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

.dados > input {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #e9e9e9;
}

#DDD {
    width: 50px;
}

.telefone {
    display: flex;
    gap: 5px;
}
.telefone > input {
    padding: 10px;
    border-radius: 10px;
    border-style: none;
    background-color: #e9e9e9;
}

input[type=number]::-webkit-inner-spin-button { 
    -webkit-appearance: none;
    
}
input[type=number] { 
   -moz-appearance: textfield;
   appearance: textfield;

}

#avancar {
    padding: 10px;
    border-style: none;
    background-color: #00BB2D;
    color: #fff;
    font-size: 1.3rem;
    border-radius: 10px;
    cursor: pointer;
}
