@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:wght@400;600 & family= Outfit & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter & family= Krona+One & family= Montserrat:wght@400;600 & family= Outfit & display=swap');

:root {
    --fonte-inter: 'Inter', sans-serif; 
    --font-outfit: 'Outfit', sans-serif;
}

main {
    background-image: url(../Imagens/saibaMaisBackgroud.png);
    position: relative;
    display: flex;
    align-items: end;
}

section {
    display: flex;
    flex-direction: column;
    gap: 20px;
    width: 34%;
    padding: 95px;
}

h1 {
    color: #ffffff;
    font-size: 2.3rem;
    font-family: var(--font-outfit);
}

p {
    font-size: 1rem;
    font-family: var(--font-outfit);
    color: #ffffff;
    line-height: 150%;
}
