@import url('https://fonts.googleapis.com/css2? family= Krona+One & family= Montserrat:wght@400;600 & family= Outfit & display=swap');
@import url('https://fonts.googleapis.com/css2? family= Inter & family= Krona+One & family= Montserrat:wght@400;600 & family= Outfit & display=swap');

:root {
    --fonte-inter: 'Inter', sans-serif; 
    --font-outfit: 'Outfit', sans-serif;
}

main {
    display: flex;
    flex-direction: column;
    justify-content: center;
    font-family: var(--font-outfit);
    gap: 40px;
}

#apoio {
    text-align: center;
    font-size: 1.5rem;
    padding: 20px;
}

#voltar {
    font-size: .8rem;
    color: #0084F9;
    text-align: center;
    margin-right: 500px;
}

h1 {
    text-transform: uppercase;
    font-size: 2.15rem;
    text-align: center;
}

.direitos {
    font-size: .5em;
}

@media (max-width: 1200px) {
    main {
        height: calc(100vh - 14.625rem);

    }
}

@media (max-width: 700px) {
    #voltar {
        margin-right: auto;
        padding-left: 20px;
    }
    h1 {
        padding: 20px;
        font-size: 2rem;
    }
    #apoio {
        font-size: 1rem;
    }
}

@media (max-width: 300px) {
   h1 {
    font-size: 1.5rem;
   }
}

